header {
    font-family: sans-serif;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.container {
    min-width: 320px;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;

    outline: 2px solid red;
    outline-offset: -2px;
}
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

.header-container {
    height: 50px;
    align-items: baseline;

    display: flex;
}

.nav-list {
    display: flex;
    gap: 16px;
}

@media only screen and (max-width: 767px) {
    .nav,
    .shopping-cart {
        display: none;
    }
}

.nav {
    margin-right: 94px;
   
}

@media only screen and (min-width: 1280px) {
    .nav {
       margin-right: 322px;
    }
}
.header-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-transform: capitalize;
    letter-spacing: -0.04em;
    color: #AE1332;
}

.logo {
    color: #AE1332;
    display: flex;
    gap: 8px;

}

.logo-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    margin: 16px 0;
    height: 18px;
    text-transform: uppercase;
    text-align: center;
}

@media only screen and (min-width: 320px) {
    .logo {
        margin-right: auto;
    }
}

.logo-icon {
    fill: currentColor;
    margin: 17px 0;  
}

.header-cart {
   margin-top: 11px;
   
   fill: #AE1332;

}
/*Mobile menu*/
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #AE1332;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.menu-toggle-icon {
    fill: #AE1332;
}

.mobile-top {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 50px;
    width: 100vw;
}
.mobile-menu {
    margin-top: 124px;
    text-align: center;
    display: flex;
    flex-flow: column;
    gap: 16px;
}
.mobile-cart {
    color: #fff;
}
.mobile-cart-icon {
    fill: currentColor;
}